@font-face {
    font-family: 'Wigrum_Black';
    src:  url('Wigrum_Black.otf') format('opentype');
  }
@font-face {
    font-family: 'Wigrum_Regular';
    src:  url('Wigrum_Regular.otf') format('opentype');
  }

body {
    border-left: 4px solid #0055E5; 
}

/* nav area */

nav {
    display: flex;
    justify-content: flex-end;
}
.menu {
    padding-top: 15px;
    padding-right: 10px;
}

/* container area */

.container {
    display: flex;
    flex-direction: column;
}
/* name and bio area */

.name-name {
    font-family: 'Wigrum_Black', sans-serif;
    font-size: 32px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.name-line {
	height: 4px;
	width: 60px;
    background-color: #000000;
    margin-left: 30px;
    margin-bottom: 25px;
}

.name-bio {
    font-family: 'Wigrum_Regular', sans-serif;
    font-size: 16px;
    color:#949494;
    padding-left: 30px;
}

.name-space {
    height: 90px;
}

/* quotation & work area */

.quote {
    display: flex;

}

.quotation {
    font-family: 'Wigrum_Regular', sans-serif;
    font-size: 32px;
    /* letter-spacing: 1px; */
    font-weight: bold;
    color:#949494;
    padding-left: 50px;
    text-align: end;
    padding-right: 20px;
}

.work {
    padding-right: 10px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    align-self: flex-end;
    font-family: 'Wigrum_Regular', sans-serif;
    font-size: 15px;
    color:#949494;
}

.quote-space {
 height: 60px;
}

/* portfolio intro area & images */

.portfolio {
    display: flex;
    padding-top: 30px;
    background-color: #F0F0F0;
    justify-content: space-between;
    flex-direction: column;
}

.firstfnf-img {
    width: 100%;
    height: auto;
}

.port-filler1-img {
    width: 100%;
    height: auto;
}

.port-filler2-img {
    width: 100%;
    height: auto;
}

.portfolio-space {
    height: 40px;
}

/* footer area */

.footer-line {
    align-self: center;
    height: 1px;
    width: 90%;
    background-color: #949494;
    margin: 10px;
}

.footer {
    font-family: 'Wigrum_Regular', sans-serif;
    font-size: 15px;
    color:#949494;
    text-align: center;
}

